text {
    color: #FEFAF7;
}
h1 {
    color: #f5ab5c;
    font-size: 60px;
}
h2 {
    font-size: 30px;
}
a:link {
    color: black;
}
body {
    background-color: #374845;
    font-size: 20px;
}
footer {
    color: #F5AB5C;
}
@media only screen and (max-width: 600px ) {
    .link {size: 100%; display:block; margin: 10px;}
    span{display:none;}
}
@media only screen and (min-width: 600px){
    .link {size: 20%; display:inline; margin: 0px;}
}
nav {
    background-color: #d0f6e9;
    padding: 10px;
    margin-bottom: 30px;
}
nav a{
    color: black;
}
nav a:hover {
    background-color: #555A77;
}

.copy {float: left;}
.quote {float: right;}
.card, .bio, table {background-color: #d0f6ef; margin: 15px; padding: 15px; border-radius: 1em;}
.active{display: flex; flex-wrap: wrap; margin: 15px; padding: 15px; background-color: #d0f6ef; border-radius: 1em;}
.map{flex: 1; order: 2;}
.form{padding: 15px; flex: 1; order: 1;}
.plain{margin-right: 20px; float: left; float: bottom;}
.banner{max-width: 100%;}
table, th, td {border: 1px solid black;}
caption { color: #F5AB5C; font-size: 60px;}
.skip {
    background: white;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.2s;
  }
  
  .skip:focus {
    transform: translateY(0%);
  }
