/*Color Scheme - 
#4198b5 (lightblue) #246d94 (medblue) #083554(darkblue)
#fb9263 (lightorange) #e96732 (medorange) #d43b1b (darkorange)
*/
body {
    background-color: #083554;
    color: white;
    font-family: 'Farro', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a:link {
    color: #fb9263;
}
nav{
    color: #fb9263;
    background-color: #77c1da;
    padding: 10px;
    margin: auto;
    width: 80%;
    border-radius: 10px;
}
nav a{
    padding: 10px;
    text-align: center;
    font-size: large;
    color: #e96732;
    
}
h1{
    color:white;
    font-family: 'Farro', sans-serif;
}
h2{
    font-family: 'Farro', sans-serif;
}
.welcome{
    text-align: center;
    background-color: #e96732;
    border-radius: 25px;
    padding-bottom: 10px; padding-top: 1px; margin-top: 10px;
}
#famphoto{
    width:70%;
    border: 5px solid #77c1da;
    border-radius: 10px;
}
.intro{
    background-color: #e96732;
    padding: 10px; margin:10px;
    text-align: center;
    border-radius: 25px;
}
.dept{
    background-color: #77c1da;
    border-radius: 25px;
    padding:10px; margin:10px;
}
.row1, .row2{
    display: flex;
}
.writers, .cc, .socials, .crew, .graphics{
    background-color: white;
    border-radius: 30px;
    border:3px solid #e96732;
    padding: 10px; margin: 10px;
    color: #083554;
    flex:1;
    text-align: center;
}
.bios{
    background-color: #77c1da;
    border-radius: 25px;
    padding:10px; margin:10px;
}
.firstbios, .secondbios, .thirdbios{
    display:flex;
}
.jaelin, .stett, .jeanette, .danny, .will, .lucas, .cameron{
    flex:1;
    background-color: #246d94;
    border-radius: 10px;
    padding: 10px; margin: 5px;
    text-align: center;
}
#biophotos{
    width:100%;
    border: 2px solid white;
}
@media only screen and (max-width: 600px ) {
    .link {size: 100%; display:block; margin: 10px;}
    span{display:none;}
}
@media only screen and (min-width: 600px){
    .link {size: 20%; display:inline; margin: 0px;}
}
.skip {
    background: white;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.2s;
  }
  
  .skip:focus {
    transform: translateY(0%);
  }