/*Color Scheme - 
#4198b5 (lightblue) #246d94 (medblue) #083554(darkblue)
#fb9263 (lightorange) #e96732 (medorange) #d43b1b (darkorange)
*/
body {
    background-color: #083554;
    color: white;
    font-family: 'Farro', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a:link {
    color: #eb591f;
}
nav{
    color: #eb591f;
    background-color: #77c1da;
    padding: 10px;
    margin: auto;
    width: 80%;
    border-radius: 10px;
}
nav a{
    padding: 10px;
    text-align: center;
    font-size: large;
    color: #eb591f;
    
}
h1{
    color:white;
    font-family: 'Farro', sans-serif;
}
#logo{
    max-width: 200px;
    float: right;
    margin-bottom: 20px;
}
h2{
    font-family: 'Farro', sans-serif;
}
.welcome{
    text-align: center;
    background-color: #eb591f;
    border-radius: 25px;
    padding-bottom: 10px; padding-top: 1px; margin-top: 10px;
}
#famphoto{
    width:70%;
    border: 5px solid #77c1da;
    border-radius: 10px;
}
.intro{
    background-color: #eb591f;
    padding: 10px; margin:10px;
    text-align: center;
    border-radius: 25px;
}
.dept{
    background-color: #77c1da;
    border-radius: 25px;
    padding:10px; margin:10px;
    display: flex;
    flex-wrap: wrap;
}
.writers, .cc, .socials, .crew, .graphics{
    background-color: white;
    border-radius: 30px;
    border:3px solid #e96732;
    padding: 10px; margin: 10px;
    color: #083554;
    text-align: center;
    flex:1;
    min-width: 200px;
}
.bios{
    background-color: #77c1da;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 20px;
    gap: 10px;
}
.jaelin, .stett, .jeanette, .danny, .will, .lucas, .cameron{
    background-color: #246d94;
    border-radius: 10px;
    padding: 10px; margin:10px auto;
    text-align: center;
    flex:1;
    min-width: 250px;
    max-width: 400px;
}
#biophotos{
    width:100%;
    border: 2px solid white;
}
.videos{
    margin: 0 auto;
} 
iframe{
    border:3px solid #77c1da;
    border-radius: 10px;
    margin: 10px;
}
.desc {
    color: #083554;
    max-width: 560px;
    background-color: white;
    border: 3px solid #eb591f;
    border-radius: 25px;
    padding: 10px;
}
@media only screen and (max-width: 600px ) {
    .link {size: 100%; display:block; margin: 10px;}
    span{display:none;}
}
@media only screen and (min-width: 600px){
    .link {size: 20%; display:inline; margin: 0px;}
}
.skip {
    background: white;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.2s;
}
  
.skip:focus {
    transform: translateY(0%);
}